@font-face {
  font-family: "Bebas Neue";
  font-display: swap;
  src: local("Bebas Neue"),
    url(./fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat"),
    url(./fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat Italic";
  font-display: swap;
  src: local("Montserrat Italic"),
    url(./fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
}
